* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}
.apply_box span {
  font-size: 22px;
}
h1 {
  text-align: center;
}
.form_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 50px;
}
.form_control {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.textarea_control {
  grid-column: 1 / span 2;
}
.textarea_control textarea {
  width: 100%;
}
input:focus {
  outline-color: midnightblue;
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button_container button {
  background-color: red;
  border: transparent solid 2px;
  padding: 6px;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.2s ease-in;
}
.button_container button:hover {
  background-color: green;
  cursor: pointer;
  transition: 0.2s ease-in;
}
@media (max-width: 460px) {
  .form_control {
    grid-column: 1 / span 2;
  }
}
